# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (isteğe bağlı)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/doc/api/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Podfile.lock
ios/Flutter/ephemeral/
ios/Runner/GoogleService-Info.plist

# Android
android/app/debug
android/app/profile
android/app/release
android/app/google-services.json

# Obfuscation and Symbolication
app.*.map.json
app.*.symbols
